<footer class="site-footer" style="color: var(--azul);">
    <span><a href="https://legal.fundaciontelefonica.com/aviso-legal/" target="_blank" style="text-decoration: none;">Aviso legal</a> &nbsp;|&nbsp; 
    <a href="https://legal.fundaciontelefonica.com/politica-de-privacidad/" target="_blank" style="text-decoration: none;">Política de privacidad</a> &nbsp;|&nbsp;
    </span> © <span id="year">2026</span> Fundación Telefónica &nbsp;
</footer>
<div id="toast" role="alert" aria-live="polite"></div>
<script>
  document.getElementById('year').textContent = new Date().getFullYear();
</script>

